<div class="container list-devices">
  <div class="row">
    <div class="col-md-3">
      <div class="categories">
        <ul>
          <li>
            <%= link_to t("device.category"), "#",
              class: "active category-link" %>
          </li>
          <% if get_categories.present? %>
            <%= render partial: "category", collection: get_categories %>
          <% end -%>
        </ul>
      </div>
      <div class="list-borrowed">
        <%= render "layouts/cart" %>
      </div>
      <%= link_to t("device.botrrow_device"), "#",
        class: "btn btn-primary book-devices" %>
    </div>
    <div class="col-md-9">
      <div class="search-item">
        <%= search_form_for @search do |f| %>
          <div class="field">
            <%= f.text_field :name_cont, placeholder: t("device.device_name") %>
            <%= f.check_box(:borrowed_eq, {}, false, nil) %>
 -          <%= f.label :borrowed_eq, t("device.not_borrowed") %><br>
          </div>
          <div class="actions"><%= f.submit t("device.search") %></div>
        <% end %>
      </div>
      <div class="show-list">
        <%= paginate @devices %>
        <%= render "list_devices" %>
        <%= paginate @devices %>
      </div>
    </div>
  </div>
</div>
