<% provide :title, t("sessions.change_pass") %>

  <div class="form_changepass form_login">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name),
      html: { method: :put }) do |f| %>
      <div class="image_login">
        <%= link_to image_tag("logo.png"), root_path %>
      </div>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field">
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %>)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "off",
          class: "form-control", placeholder: t("sessions.new_pass") %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "off",
          class: "form-control", t("sessions.confirm_new_pass") %>
      </div>

      <div class="actions">
        <%= f.submit t("sessions.change_my_pass") %>
      </div>
    <% end %>

  <%= render "devise/shared/links" %>
</div>
