<!DOCTYPE html>
<html>
  <head>
    <title><%= t "admin.dashboard" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <%= action_cable_meta_tag %>
  </head>

  <body>
    <div class="container">
      <div class="show_error">
        <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
        <% end %>
      </div>
    </div>
    <%= render "layouts/nav" %>
    <div class="container margin_top">
      <div class="menu col-md-3">
        <%= render "layouts/menu_admin" %>
      </div>
      <div class="content col-md-9">
        <%= yield %>
      </div>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
